* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

div {
    display: flex;
}

img {
    max-width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.timeTable {
    display: flex;
    background: white;
    flex-direction: column;
    align-items: center;
}

.lessonBox {
    display: flex;
    flex: 1;
    background: #1D5381;
    height: 50px;
    width: 300px;
    margin: 0.2rem;
    border-radius: 25px;
    align-items: center;
    justify-self: center;
}

.lessonBox2 {
    display: flex;
    flex: 1;
    background: #DF771C;
    height: 50px;
    width: 300px;
    margin: 0.2rem;
    border-radius: 25px;
    align-items: center;
    justify-self: center;
}

.lessonInfo {
    display: flex;
    border: solid 1px white;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.timeDiv {
    display: flex;
}

.lessonDiv {
    display: flex;
}

.roomDiv {
    display: flex;
}

.groupDiv {
    display: flex;
}

.filter:hover .dropdown_filter {
    display: flex;
}

.Day {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 30px;
    border: solid 3px #1D5381;
    background-color: #DF771C;
    border-radius: 50%;
}

.Day2 {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 30px;
    background-color: #ff9c46;
    border-radius: 50%;
}

.Days {
    color: black;
}

.Week {
    justify-content: center;
    background-color: #1D5381;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 5px;
}

.tabel {
    justify-content: center;
    background-color: #1D5381;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 5px;
    width: 200px;
}

.Arrow {
    width: 15px;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
}

.Magni {
    width: 30px;
    margin-top: 7px;
    margin: auto;
    margin-left: 250px;
}


/* dropdown */

.container {
    justify-content: center;
    margin: auto;
    width: 200px;
    text-align: center;
}

.container>.dropdown {
    justify-content: center;
    vertical-align: top;
}

.dropdown {
    justify-content: center;
    background-color: #1D5381;
    font-size: 18px;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 200px;
}

.dropdown-select {
    position: relative;
    margin: 0;
    font-size: 16px;
    background: rgba(0, 0, 0, 0) !important;
}

.dropdown-select:focus {
    width: 100%;
    color: #394349;
}

.dropdown-select>option {
    margin: 3px;
    text-shadow: none;
    border-radius: 3px;
    cursor: pointer;
}

.dropdown-dark {
    justify-content: center;
    background-color: #DF771C;
    font-size: 18px;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 200px;
}

.dropdown-dark .dropdown-select {
    background: #444;
}

.dropdown-dark .dropdown-select:focus {
    color: #ccc;
}

.dropdown-dark .dropdown-select>option {
    background: #444;
}

.inputDark {
    color: white;
    background-color: #1D5381;
    border: none;
    font-size: 18px;
}

.inputLight {
    color: white;
    background-color: #DF771C;
    border: none;
    font-size: 18px;
}

::placeholder {
    font-size: 22px;
    text-align: center;
    color: white;
}